<div class="beverageProduct">


    <div class="card">
        <img src="bowl.png" style="width:100%">
        <h1>BOWL</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Cucumber</p>
        <p><button>Add to Cart</button></p>


    </div>



    <div class="card">
        <img src="pan.png" style="width:100%">
        <h1>FRYING PAN</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Tomatoes</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="knife.png" style="width:100%">
        <h1>METAL KNIFE</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Carrots</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="spoon.png" style="width:100%">
        <h1>WOODEN SPOON</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>



    <div class="card">
        <img src="spoon.png" style="width:100%">
        <h1>WOODEN SPOON</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>



    <div class="card">
        <img src="knife.png" style="width:100%">
        <h1>METAL KNIFE</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Carrots</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="pan.png" style="width:100%">
        <h1>FRYING PAN</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Tomatoes</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="bowl.png" style="width:100%">
        <h1>BOWL</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Cucumber</p>
        <p><button>Add to Cart</button></p>


    </div>

    <div class="card">
        <img src="bowl.png" style="width:100%">
        <h1>BOWL</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Cucumber</p>
        <p><button>Add to Cart</button></p>


    </div>



    <div class="card">
        <img src="pan.png" style="width:100%">
        <h1>FRYING PAN</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Tomatoes</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="knife.png" style="width:100%">
        <h1>METAL KNIFE</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Carrots</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="spoon.png" style="width:100%">
        <h1>WOODEN SPOON</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>