<div class="beverageProduct">


    <div class="card">
        <img src="toothpaste.png" style="width:100%">
        <h1>TOOTH PASTE</h1>
        <p class="price">₹250</p>
        <p>Farm Fresh Cucumber</p>
        <p><button>Add to Cart</button></p>


    </div>
     


    <div class="card">
        <img src="sanitixer.png" style="width:100%">
        <h1>HAND SANITIZER</h1>
        <p class="price">₹100</p>
        <p>Farm Fresh Tomatoes</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="showergel.png" style="width:100%">
        <h1>SHOWER GEL</h1>
        <p class="price">₹399</p>
        <p>Farm Fresh Carrots</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        
        <img src="shaving gel.png" style="width:100%">
        <h1>SHAVING GEL</h1>
        <p class="price">₹199</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>



</div>