<div class="navbarContainer">
    <span class="navbarTitle">
        BlinkIt.
    </span>
   
    <div class="NavigationLinks">
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="#">Categories</a> </li>
            <li><a href="#">Contact</a> </li>
        </ul>
    </div>

</div>
<!-- <div class="NavigationLinks2">
    <ul>
        <li><a routerLink="food">Food</a> </li>
        <li><a routerLink="beverages">Beverages</a> </li>
        <li><a routerLink="household">Household</a> </li>
        <li><a routerLink="personalcare">PersonalCare</a> </li>
        <router-outlet></router-outlet> 
    </ul>
</div> -->




<div class="heroImage">
    
    <img src="heroImg.png" alt=""width="100%">
</div>