<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

<div class="navbarContainer">
    <span class="navbarTitle">
        Everyday-Essentials.
    </span>


    <input type="search" name="search" id="search" placeholder="Search the product">
    <i class="ri-search-line"></i>



    <div class="NavigationLinks">
        <ul>
            <li><a routerLink="food">Food</a> </li>
            <li><a routerLink="beverages">Beverages</a> </li>
            <li><a routerLink="household">Household</a> </li>
            <li><a routerLink="personalcare">PersonalCare</a> </li>
            <li><a routerLink="login">Login</a> </li>
        </ul>
    </div>

</div>