<div class="beverageProduct">


    <div class="card">
        <img src="cucumber.png"  style="width:100%">
        <h1>CUCUMBER</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Cucumber</p>
        <p><button>Add to Cart</button></p>

        
    </div>

 

    <div class="card">
        <img src="tomato.png" style="width:100%">
        <h1>TOMATOES</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Tomatoes</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="carrot.png" style="width:100%">
        <h1>CARROTS</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Carrots</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="avocado.png"  style="width:100%">
        <h1>AVOCADO</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="cake.png"  style="width:100%">
        <h1>CHOCOLATE CAKE</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="chocolatebun.png"  style="width:100%">
        <h1>CHOCOLATE BUNS</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>

    
    <!-- <div class="card">
        <img src="bread.png"  style="width:100%">
        <h1>BREAD</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div> -->

    <div class="card">
        <img src="chocolatebun.png"  style="width:100%">
        <h1>CHOCOLATE BUNS</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="cake.png"  style="width:100%">
        <h1>CHOCOLATE CAKE</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>
    
    <div class="card">
        <img src="chocolatebun.png"  style="width:100%">
        <h1>CHOCOLATE BUNS</h1>
        <p class="price">$19.99</p>
        <p>Farm Fresh Avocado</p>
        <p><button>Add to Cart</button></p>
    </div>


</div>