
<!-- <img src="login.png" alt="" srcset=""> -->

<div class="loginComponent">

    <div class="loginLeft">

        <img src="login.png" alt="" srcset="">
    </div>
    <div class="loginRight">
        <p>Welcome Back.Please Log In <br>To Your Account.</p>

        <div class="inputField">
            <input type="text" name="loginText" id="loginText" placeholder="Username or Email Address">
            <br> <br> <br> <br>
            <input type="password" name="" id=""placeholder="Password">
            <input type="button" value="Login"id="loginButton"placeholder="Login">
                
            <!--<div class="Remember">
                    <p>Remember Password</p>
                    <p>Forgot Password?</p>
                </div> -->

    </div>

  
    </div>

</div>