<div class="beverageProduct">


    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

 

    <div class="card">
        <img src="lemonJuice.png" style="width:100%">
        <h1>LEMON SODA</h1>
        <p class="price">$19.99</p>
        <p>Lemon Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="orangeJuice.jpg" style="width:100%">
        <h1>ORANGE SODA</h1>
        <p class="price">$19.99</p>
        <p>Orange Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="lemonJuice.png" style="width:100%">
        <h1>LEMON SODA</h1>
        <p class="price">$19.99</p>
        <p>Lemon Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="orangeJuice.jpg" style="width:100%">
        <h1>ORANGE SODA</h1>
        <p class="price">$19.99</p>
        <p>Orange Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

    <div class="card">
        <img src="orangeJuice.jpg" style="width:100%">
        <h1>ORANGE SODA</h1>
        <p class="price">$19.99</p>
        <p>Orange Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>


    <div class="card">
        <img src="cola.png"  style="width:100%">
        <h1>COLA SODA</h1>
        <p class="price">$19.99</p>
        <p>Coca Cola Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>

   
    <div class="card">
        <img src="orangeJuice.jpg" style="width:100%">
        <h1>ORANGE SODA</h1>
        <p class="price">$19.99</p>
        <p>Orange Flavoured Soda</p>
        <p><button>Add to Cart</button></p>
    </div>


</div>